{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-10 col-mx-auto">
            <h3 class="text-center">Media</h3>
            <br/>
            <div class="divider text-center"></div>
            {% if media_entries %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Rok</th>
                        <th>Miesiąc</th>
                        <th>Kwota Całkowita</th>
                        <th>Zimna woda kuchnia</th>
                        <th>Ciepła woda kuchnia</th>
                        <th>Zimna woda łazienka</th>
                        <th>Ciepła woda łazienka</th>
                        <th>Prąd</th>
                        <th>Gaz</th>
                        <th>Zwrot za prąd</th>
                        <th>Edytuj</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry in media_entries %}
                        <tr>
                            <td>{{ entry.id }}</td>
                            <td>{{ entry.year }}</td>
                            <td>{{ entry.month.name }}</td>
                            <td>{{ entry.payment_amount }}</td>
                            <td>{{ entry.cold_water_kitchen }}</td>
                            <td>{{ entry.warm_water_kitchen }}</td>
                            <td>{{ entry.cold_water_bathroom }}</td>
                            <td>{{ entry.warm_water_bathroom }}</td>
                            <td>{{ entry.current }}</td>
                            <td>{{ entry.gas }}</td>
                            <td>{{ entry.current_refund }}</td>
                            <td>
                                <button class="btn btn-primary">Edytuj</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            {% else %}
                <div class="empty">
                    <div class="empty-icon">
                        <i class="icon icon-stop"></i>
                    </div>
                    <p class="empty-title h5">Brak danych</p>
                    <p class="empty-subtitle">Nie ma jeszcze żadnych wpisów</p>
                    <div class="empty-action">
                        <button class="btn btn-primary"
                                onclick="window.location.href='{{ url_for('admin_add_media_entry') }}';">Dodaj wpis
                        </button>
                    </div>
                </div>
            {% endif %}
    </div>
    <br/>
    <div class="divider text-center"></div>
    <div class="columns">
        <div class="column col-2 col-mx-auto">
            <button class="btn btn-primary"
                    onclick="window.location.href='{{ url_for('admin_add_media_entry') }}';">Dodaj wpis
            </button>
        </div>
    </div>
{% endblock content %}