{% extends "container-layout.html" %}
{% block content %}
    <div class="columns">
        <div class="column col-10 col-mx-auto">
            <div class="column">
                <div class="hero bg-gray">
                    <div class="hero-body">
                        <div class="timeline">
                            <div class="timeline-item" id="2">
                                <div class="timeline-left">
                                    <a class="timeline-icon icon-lg" href="#2">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </div>
                                <div class="timeline-content">
                                    <p class="tile-subtitle">Wersja 0.2.2</p>
                                    <p class="tile-title">Co nowego? - strona z nowymi ficzerami</p>
                                    <p class="tile-title">Podgląd najnowszych rachunków za media</p>
                                    <p class="tile-title">Poprawione okno logowania i rejestracji</p>
                                </div>
                            </div>

                            <div class="timeline-item" id="1">
                                <div class="timeline-left">
                                    <a class="timeline-icon icon-lg" href="#1">
                                        <i class="icon icon-check"></i>
                                    </a>
                                </div>

                                <div class="timeline-content">
                                    <p class="tile-subtitle">Wersja 0.2.1</p>
                                    <p class="tile-title">Rejestracja</p>
                                    <p class="tile-title">Logowanie</p>
                                    <p class="tile-title">Podgląd najnowszych rachunków za internet</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}